body{
    background: #ffffff;
}

.titulo_principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}
.principal{
    background: #c5a6a6;
    padding: 15px;

}
.titulo{
    text-align: center;
  
}

p{
    
    text-align: center;
    
}


strong em{
    color: #FF0000;

}

#mision{
   font-size: 18px;
}
.diferenciales{
    background: #ffffffff;
    padding: 30px;
}


.items{
    font-style: italic;
}
ul{
    display:inline-block ;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}
